@import url('https://fonts.googleapis.com/css2?family=Mooli&Lato&display=swap');
:root {
    --primary-color: #FAF3DD;
    --secondary-color: #29339B;
    --accent1-color: #74A4BC;
    --accent2-color: #141414;

    --heading-font: 'Mooli', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--primary-color);
}

* {
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:#29339B;
}

p {
    font-family: var(--paragraph-font);
    color:#74A4BC;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 15px #141414;
}

.hero h1 {
    width: max-content;
    margin: 0;
    padding: 10px 20px 10px 20px; /* TOP RIGHT DOWN LEFT*/
    position: absolute;
    top: 4rem;
    right: 30%;
    background-color: rgba(245, 245, 245, 0.527);
    color: var(--secondary-color);
    box-shadow: 0 0 15px #141414;
}

.hero article {
    width: 500px;
    margin: 0 0 0 10px;
    border: 1px black;
    border-radius: 25px 0 0 25px;
    padding: 20px;
    position: absolute;
    top: 12.5rem;
    left: 24.6rem;
    background-color: #b8beff57;
    box-shadow: 0 0 15px #141414;
}

.hero article p {
    color: whitesmoke;
}

.hero article h2 {
    color: whitesmoke;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 0 #141414;
}