@import url('https://fonts.googleapis.com/css2?family=Mooli&Lato&display=swap');
:root {
    --primary-color: #FAF3DD;
    --secondary-color: #29339B;
    --accent1-color: #74A4BC;
    --accent2-color: #141414;

    --heading-font: 'Mooli', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--primary-color);
}

* {
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:#29339B;
}

p {
    font-family: var(--paragraph-font);
    color:#74A4BC;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 15px #141414;
}

.hero h1 {
    width: max-content;
    margin: 0;
    padding: 10px 20px 10px 20px; /* TOP RIGHT DOWN LEFT*/
    position: absolute;
    top: 4rem;
    right: 30%;
    background-color: rgba(245, 245, 245, 0.527);
    color: var(--secondary-color);
    box-shadow: 0 0 15px #141414;
}

.hero article {
    width: 500px;
    margin: 0 0 0 10px;
    border: 1px black;
    border-radius: 25px 0 0 25px;
    padding: 20px;
    position: absolute;
    top: 12.5rem;
    left: 24.6rem;
    background-color: #b8beff57;
    box-shadow: 0 0 15px #141414;
}

.hero article p {
    color: whitesmoke;
}

.hero article h2 {
    display: none;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 0 #141414;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
}

header h1 {
	font-size: 1.5rem;
	font-family: var(--heading-font);
    color: #141414;
    margin-left: 15px;
}

nav {
	text-align: right;
    font-family: var(--paragraph-font);
    margin-right: 15px;
}

.navigation {
	display: flex;
	list-style: none;
    justify-content: space-between;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--nav-link-color);
	padding: 20px;
	text-decoration: none;
    font-size: larger;
    font-weight: 700;
}

.navigation a:hover {
	color: var(--nav-hover-link-color);
	box-shadow: var(--accent2-color);
}

footer {
   max-width: 1000px;
   width: 100%;
   margin: auto;
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(4, 70% 1fr 1fr 1fr);
   background-color: #141414;
   color: whitesmoke;
   font-family: var(--paragraph-font);
}

.social {
    display: flex;
    justify-content: flex-end;
}

.gallery {
    max-width: 1000px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}